*{
    margin:0px ;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Arial',sans-serif;
    /* background-color:; */
    border-radius:1px solid pink ;
}
.body{
    background-color: pink;
}
.full{ 
     position: relative; 
     top: 0px;
       
} 
.navi{
    width: 100bh;
    background-color:black;
    color: wheat;
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border border-bottom-left-radius: 50px;
   
}
.navi .logo img{
font-size: 40px;
color: goldenrod;
margin-right:120px ;
height: 75px;
width: 80px;

}
.navi ul{
    list-style: none;
    gap: 40px;
    display: flex;
}
.navi ul li{
position: relative;
}
.navi ul li a{
text-decoration: none;
font-size: 15px;
color: goldenrod;
display: flex;
justify-content: space-between;
gap: 10px;
}
 
     
.search{

color: white;
}
.but{
    /* background-color: goldenrod; */
}
.navi .adda a{
    gap: 10px;
    font-size: 15px;
    color: wheat;

}
.add .a{
    font-size: 15px;
    color: wheat;
     display: flex; 
    justify-content: space-between;
}
.sec{
background-image: url(city\ nig.mp4);    
background-size: auto;
width: 70%;
height: 70%;
margin-top:50px ;
margin-left:50px ;
border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    
    
    
}
.img{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width:70% ;
    height: 70%;
    
    }


