#content {
	position: relative;
	width: 94%; max-width: 1290px;
	margin: 0 auto 0 auto;
	background: rgba(0,0,0,0.0);
	font-family: "Open Sans", Arial, sans-serif;
}
.content {
	position: relative;
	width: 94%; max-width: 1290px;
	margin: 0 auto 0 auto;
	background: rgba(0,0,0,0.0);
	font-family: "Open Sans", Arial, sans-serif;
}

h1, .h1 {
	width: 100%;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 34px; font-weight: 500;
	color: #111111;
	margin: 0 0 30px 0;
}

h4, .h4 {
	width: 100%;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 16px; font-weight: 600;
	color: #111111;
}

#content hr, #content .hr,
.content hr, .content .hr {
    border: 0 solid;
    border-bottom: 1px solid #dfdfdf;
}

/*#content_article hr, .content_article hr, .hr {
	border: 0 solid;
	border-bottom: 1px solid #dfdfdf;
}*/

#content_article_stage {
	overflow: hidden;
    transition: height 0.5s;
    margin-top: -20px;
}

#content_calendar {
    position: relative;
    overflow: hidden;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px; font-weight: 500;
    color: #222222;
    /*border-bottom: 1px solid #dfdfdf;*/
}

#content_calendar img {
	max-width: 100%;
	height: auto;
}

#content_article {
    position: relative;
    overflow: hidden;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px; font-weight: 500;
    color: #222222;
    /*border-bottom: 1px solid #dfdfdf;*/
}

#content_article img {
	max-width: 100%;
	height: auto;
}

/*#content_article.expand {
	height: 3000px;
}*/

/*#content_article img {
    width: 100% !important; height: auto!important;
    max-width: 800px;
}*/

#content_article_gradient {
	position: relative; z-index: 100;
	width: 100%; height: 300px; margin-top: -298px; margin-bottom: 50px;
	background: url(img/text_hide_gradient.png) no-repeat;
	background-size: 100% 101%;
}

.content_separator {
	font-size: 0;
	border-bottom: 1px solid #dfdfdf;
	margin: 30px 0;
}


hr, .hr {
    border: 0 solid;
    border-bottom: 1px solid #dfdfdf;
}

.media_title {
	position: relative;
	text-align: center;
	height: 24px;
	/*background: #000;*/
}

.media_title > span {
	display: inline-block;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: 500;
	color: #111111;
	padding: 0px 20px;
	
	background: #FFFFFF;
}

.media_title hr {
	border: 0 solid;
    border-bottom: 1px solid #dfdfdf;
    float: left;
    width: 100%;
    margin-top: 30px; 
    margin-bottom: -15px; 
}

